@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-slate-50;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  @apply flex flex-col w-full;
}

label > span {
  @apply font-medium;
}

input {
  @apply border border-dashed bg-white rounded px-1 py-0.5 w-full;
}

button, .button {
  @apply bg-black text-white rounded p-2 px-3 cursor-pointer text-center;
}
